.container {
    margin-bottom: 6%;
    margin-top: 8%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 16px;

    .grid {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 2.341em auto;
        column-gap: clamp(0.5em, 10%, 1em);
        height: 100%;
        width: 70%;
    }

    .circTail {
        display: flex;
        flex-direction: column;
        align-items: center;

        .tail {
            width: 0.25em;
            background-color: #FFFFFF;
            height: calc(100% - 2.341em);
        }
    }

    .content {
        h2 {
            margin-top: 0;
            font-size: 1.75em;
            font-weight: 700;
        }

        ul {
            font-size: 1.375em;
            font-weight: 500;

            li {
                list-style: none;
                margin-top: 0.2em;
            }
        }
    }
}