.btn {
    position: absolute;
    right: 20px;
    top: 10px;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
}