.container {
    width: 77vw;
    // height: 100%;
    height: 85dvh;
    display: flex;
    overflow: auto;

    .heading {
        margin-top: 1rem;
        margin-bottom: 2rem;
        font-size: 1.75rem;
        font-weight: 700;
        width: 100%;

        span {
            color: #FB723D;
        }
    }

    .meetings {
        width: 59%;
        margin-right: 1%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;

        .ongoing {
            aspect-ratio: 435 / 208;
            width: 98%;
            padding-left: calc(23px / 435px * 100%);
            padding-right: calc(22px / 435px * 100%);
            border-radius: 28.05px;
            background: #FFECE5;
            margin-bottom: 2rem;
            flex-shrink: 0;
            position: relative;
            overflow: hidden;
            display: grid;
            grid-template-rows: 1fr 0.75fr 0.75fr 1.5fr;

            h2 {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                font-weight: 600;
            }

            span {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-weight: 500;
                gap: 0.5rem;
            }

            .join {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .mentor {
                    display: flex;
                    font-weight: 500;
                    font-size: 1rem;
                    gap: 0.425rem;
                }

                button {
                    aspect-ratio: 99 / 42;
                    height: 50%;
                    border-radius: 1rem;
                    font-weight: 600;
                    color: white;
                    background: #FB723D;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5rem;
                    font-size: 1.15rem;
                    cursor: pointer;

                    svg {
                        transform: scale(2);
                    }

                    @media screen and (max-width: 930px) {
                        font-size: 0.85rem;

                        svg {
                            transform: scale(1.5);
                        }
                    }
                }
            }

            &::before {
                content: '';
                background-color: #FB723D;
                width: calc(10px / 435px * 100%);
                height: 100%;
                position: absolute;
                left: 0px;
            }
        }

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background: #FB723D;
            border-radius: calc(8px / 2);
        }

        @mixin scrollHeight($scrollMargin) {
            margin-top: $scrollMargin;
            margin-bottom: $scrollMargin;
        }

        &::-webkit-scrollbar-track {
            border-radius: calc(8px / 2);
            background-color: #EAEAEA;
            @include scrollHeight(10rem);

            @media screen and (max-height: 580px) {
                @include scrollHeight(5rem);
            }

            @media screen and (max-height: 400px) {
                @include scrollHeight(2rem);
            }

            @media screen and (max-height: 200px) {
                @include scrollHeight(0.5rem);
            }
        }
    }

    .right {
        height: 100%;
        width: 40%;
        display: flex;
        overflow-x: hidden;
        overflow-y: auto;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;

        &:before {
            content: "";
            position: fixed;
            height: 80.75dvh;
            width: 0;
            border-left: dashed #a0a0a0 1px;
            top: 57.5dvh;
            transform: translateY(-50%);
        }

        .wrapper {
            padding: 0 25px;
        }

        .coach {
            .pillGrid {
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                grid-template-rows: none;
                width: 100% !important;
                gap: 0.5rem;
                text-overflow: ellipsis;

                @media screen and (max-width: 1070px) {
                    grid-template-columns: 1fr;
                }
            }
        }

    }
}