.register {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .inputGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3%;
        // margin: 20px;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 60%;
        width: 80%;
        padding-right: 5%;

        &::-webkit-scrollbar {
            width: 4px;

            &-thumb {
                border-radius: 2.793px;
                background: #FB723D;
            }

            &-track {
                border-radius: 6px;
                background: #EAEAEA;
            }
        }
    }

    .next {
        border-radius: 10px;
        background: #FB723D;
        width: 194px;
        height: 55px;
        flex-shrink: 0;
        color: #FFF;
        font-family: Montserrat;
        font-size: 20.48px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border: none;
        cursor: pointer;
    }
}