.button {
  display: flex;
  padding: 8px 16px 8px 8px;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid #a0a0a0;
  background-color: white;
  color: #a0a0a0;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  &:hover {
    cursor: pointer;
    border: 1px solid #FB723D; 
  }
}

.active {
  border: 1px solid #FB723D; 
  background: #FFECE5; 
  color: #FB723D;
}
