.filter {
  width: 20%;
  position: relative;
  button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 23.5px;
    gap: 1rem;
    width: 100%;
    font-size: 17px;
    font-weight: 500;
  }
}
.filterMenu {
  position: absolute;
  top: 125%;
  width: 150%;
  box-shadow: 0px 4.97px 19.89px 0px #0000001f;
  border-radius: 10px;
  li {
    font-weight: 500;
  }
}

@media screen and (max-width: 820px) {
  .filter {
    // position: unset;
    width: 11vw;
    button {
      padding: 0 !important;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10.5px;
      span {
        margin-inline-end: unset !important;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          width: 85%;
        }
      }
    }
  }
  .filterSpan {
    display: none !important;
    content: "";
  }
  .filterMenu {
    left: -64vw;
    top: 3.5rem;
    width: 90vw;
    z-index: 1;
  }
}
