.filter {
  width: 20%;
  position: relative;
  button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 23.5px;
    gap: 1rem;
    width: 100%;
    font-size: 17px;
    font-weight: 500;
  }
}
.filterMenu {
  position: absolute;
  top: 125%;
  width: 150%;
  box-shadow: 0px 4.97px 19.89px 0px #0000001f;
  border-radius: 10px;
}
