.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .profileSection {
        display: flex;
        justify-content: center;
        margin-top: 130px;
        
    
        .profileAvatar {
          margin-bottom: 20px;
          height: 80px;
          width: 80px;
          border-radius: 50%;
          border: 4px solid #fb723d;
          overflow: hidden;
    
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
    }   
}
