@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.itemBox {
    width: 100%;
    border-radius: 9px;
    background: #FFF;
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: space-between;
    padding: 3% 5.66% 3% 1.73%;
    align-items: center;
    font-family: 'Montserrat';
    margin-bottom: 1rem;

    &:hover {
        outline: 0.75px solid #FB723D;
    }

    @mixin vertiAlignment() {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .gridLeft {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 3.6fr;

        .time {
            @include vertiAlignment();
            border-right: 0.75px solid #DCDCDC;
            margin-right: 0.5rem;
            padding-right: 0.5rem;
            width: fit-content;

            span {
                text-align: center;
            }

            span:first-of-type {
                font-weight: 600;

                @media screen and (max-width: 1157px) {
                    font-size: 0.85rem;
                }
            }

            span:last-of-type {
                font-weight: 500;
                color: #A0A0A0;

                @media screen and (max-width: 1280px) {
                    font-size: 0.75rem;
                }

                @media screen and (max-width: 1180px) {
                    font-size: 0.85rem;
                }
            }
        }

        .mentor {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 0.5rem;

            .nameWrapper {
                @include vertiAlignment();
                min-width: 60%;

                span {
                    font-weight: 600;

                    &:first-of-type {
                        color: #A0A0A0;
                        width: min-content;
                    }

                    &:last-of-type {
                        width: 70%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        text-align: center;
                        flex-shrink: 2;
                    }
                }
            }
        }
    }

    .link {
        height: 80px;
        font-weight: 500;

        @include vertiAlignment();

        @mixin setHeight($screenWidth, $height) {
            @media screen and (max-width: $screenWidth) {
                height: $height;
            }
        }

        span {
            text-align: center;
        }

        a {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            color: #138CFD;
            cursor: pointer;
        }

        @include setHeight(1600px, 64px);
        @include setHeight(1200px, 64px);
        @include setHeight(992px, 40px);
        @include setHeight(768px, 32px);
        @include setHeight(576px, 24px);
    }
}