.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;

    .week {
        width: 95%;
        align-self: center;

        .weekHeading {
            color: #8F8F8F;
            font-weight: 500;
            padding-bottom: 1.5rem;
        }
    }
}