@mixin scrollHeight($scrollMargin) {
  margin-top: $scrollMargin;
  margin-bottom: $scrollMargin;
}

@mixin scrollbarStyles() {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: #fb723d;
    border-radius: calc(8px / 2);
  }

  &::-webkit-scrollbar-track {
    border-radius: calc(8px / 2);
    background-color: #fff;
    @include scrollHeight(0.5rem);
  }
}

.tags {
  position: relative;
  width: 20%;
  button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 23.5px;
    gap: 1rem;
    width: 100%;
    font-size: 17px;
    font-weight: 500;
  }
}

.tagsMenu {
  position: absolute;
  background-color: #fff;
  top: 125%;
  border-radius: 7.69px;
  width: 200%;
  box-shadow: 0px 3.82px 15.3px 0px #0000001f;
  left: -100%;
  //   padding: 1rem;

  h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #5a5a5a;
    font-weight: 700;
    font-size: 17px;
  }
  .tagsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1rem;
    overflow-y: scroll;
    max-height: 19vh;

    @include scrollbarStyles();

    .tag {
      margin: auto;
      width: 40%;
      height: 28px;
      border-radius: 10px;
      box-shadow: 0px 2px 4px 0px #00000026;
      border: 1px solid #fb723d;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        text-align: center;
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: 820px) {
  .tags {
    // position: unset;
    width: 11vw;
    width: 11vw;
    button {
      padding: 0 !important;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10.5px;
      span {
        margin-inline-end: unset !important;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          width: 85%;
        }
      }
    }
  }
  .tagsSpan {
    display: none !important;
    content: "";
  }
  .tagsMenu {
    width: 645%;
    left: -545%;
    z-index: 1;

    h2 {
      font-size: 13.39px;
    }

    .tagsContainer {
      max-height: 23.56vh;

      .tag {
        height: 1.582rem;
      }
    }
  }
}
