.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;

    h1 {
        font-size: 100px;
    }

    .logoutBtn {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 0px;
            height: 2px;
            border-radius: 10px;
            background-color: black;
            left: 0;
            bottom: -1px;
            transition: width 200ms ease-in-out;
        }

        &:hover::after {
            width: 100%;
        }
    }
}