.contactUsWrapper {
    width: 100%;
    height: 100%;
    position: relative;
    top: 20%;
    left: 14%;
    padding-left: 9px;

    .contactContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .title {
            color: #000;
            font-family: Montserrat;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            span {
                color: #FB723D;
            }
        }

        .type {
            color: #4C4C4C;
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
        }

        .details {
            font-weight: 400;
            overflow-wrap: break-word;
        }

        .website {
            cursor: pointer;
            overflow-wrap: break-word;
            color: #138CFD;
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            text-decoration-line: underline;
            margin-bottom: 28px;
        }

        .link {
            display: inline;
            position: relative;
            transform: translateY(25%);
        }

        .connectContainer {
            padding-top: 48px;
            position: relative;
            top: 28px;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                width: 70%;
                height: 0;
                border-top: #A0A0A0 dashed 1px;
            }

            .title {
                color: #000;
                font-family: Montserrat;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .connectButtonsContainer {
                display: flex;
                gap: 20px;
                padding: 16px 0 0 3px;
            }
        }
    }
}

@media(max-width:1000px) {
    .contactUsWrapper {
        left: 8%;
        
        .contactContainer {

            .connectContainer{

                padding-top: 20px;
            }
        }
    }
}
@media(max-width:800px) {

    .contactUsWrapper {
        width: 90%;
    }
}

@media(max-width:500px) {

    .contactUsWrapper {
        width: 100%;
        height: 100%;
        position: relative;
        bottom: 0%;
        left: -8px;
        padding-bottom: 40px;
        
    
        .contactContainer {
            gap: 12px;
    
            .title {
                font-size: 18px;
                font-weight: 500;
                padding-bottom: 10px;
            }
            .mobile {
                font-size: 12px;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 4px;
                flex-wrap: wrap;
                width: calc(100vw - 80px);
            }
            
            .type {
                font-size: 12px;
                font-weight: 600;
                line-height: normal
            }

            .details {
                width: calc(100vw - 80px);
            }

            .website {
                font-size: 12px;
                line-height: 12px;
                margin-bottom: 0px;
                width: calc(100vw - 80px);
            }

            .link {
                display: none;
                transform: translateY(8%);
            }
    
            .connectContainer {
                padding-top: 30px;
                top: 0px;
                display: flex;
                justify-content: space-between;

                &::after {
                    width: 0%;
                    height: 0;
                    border-top: #A0A0A0 dashed 0px;
                }
    
                .title {
                    font-size: 18px;
                    font-weight: 600;
                }
    
                .connectButtonsContainer {
                    display: flex;
                    gap: 20px;
                    padding: 8px 0 0 0px;

                    svg {
                        transform: translateY(-10px);
                        height: 30px;
                        width: 30px;
                    }
                }
            }
        }
    }
}
