.inputField {
  width: 100%;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  gap: 10px;
  background-color: #fff;
  padding: 8px 8px 8px 24px;
  border-radius: 8px;
  border: 1px solid #a0a0a0;

  input {
    width: 50px;
    width: auto;
    flex-grow: 1;
    border: none;
    outline: none;
    font-weight: 600;
    color: #a0a0a0;
  }
  p {
    
  }
  .SelectButton {
    background-color: #fb723d;
    padding: 6px 24px;
    border-radius: 6px;
    border: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
  }
}
