.inputGrp {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;

    .label {
        font-size: 24px;
        font-weight: 500;
        line-height: 100%;
    }

    .input {
        border-radius: 8px;
        border: 1px solid #BFBFBF;
        background: #FFF;
        width: 100%;
        overflow-y: auto;
        resize: none;


        &:focus {
            outline: none;
        }

        &.link {
            aspect-ratio: 850 / 45;
            padding: 0px 10px;
        }

        &.long {
            height: 163px;
            padding: 10px;

            @media screen and (max-width: 820px) {
                height: 200px;
            }
        }
    }
}