.pageContainer {
  margin: 0px 70px;
  height: 100vh;
  @media screen and (max-width: 1000px){
    margin: 0px 20px;
  }
}

.backgroundGrid {
  position: absolute;
  top: 0;
  z-index: -1;
}

.heroSection {
  margin-top: 130px;
  margin-bottom: 150px;
  gap: 30px;

  @media screen and (max-width: 820px) {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .heroSectionUpperPart {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    gap: 50px;

    @media screen and (max-width: 820px) {
      flex-direction: column-reverse;
      align-items: center;
    }

    .heroSectionLeft {
      width: 40%;
      background-color: black;

      @media screen and (max-width: 820px) {
        aspect-ratio: 296 / 176;
        height: 176px;
        width: auto;
      }
    }

    .heroSectionRight {
      width: 50%;

      @media screen and (max-width: 820px) {
        width: 80%;
      }

      p {
        color: #4e4e4e;
        font-size: 72px;
        font-weight: 700;
        line-height: 100%;

        @media screen and (max-width: 1030px) {
          font-size: 64px;
        }

        @media screen and (max-width: 921px) {
          font-size: 50px;
        }

        @media screen and (max-width: 820px) {
          text-align: center;
        }
      }

      .titleBitsPilani {
        color: #fb723d;
      }

      .conquestDesc {
        margin: 20px 0px;
        color: #000;
        font-size: 18px;
        font-weight: 500;

        @media screen and (max-width: 820px) {
          text-align: center;
        }
      }

      .registerAndSignUp {
        display: flex;
        gap: 20px;

        @media screen and (max-width: 820px) {
          justify-content: center;
        }

        @mixin commonResponsive() {
          @media screen and (max-width: 480px) {
            padding: 9px 16px;
          }
        }

        .register {
          width: 140px;
          border: none;
          padding: 13px 25px;
          border-radius: 12px;
          background-color: #fb723d;
          color: #fff;
          text-align: center;
          box-shadow: 0px 2.714px 16.286px 0px rgba(0, 0, 0, 0.2);
          font-size: 20.357px;
          font-weight: 600;

          &:hover {
            cursor: pointer;
          }

          @include commonResponsive();
        }

        .signUp {
          width: 140px;
          border: none;
          padding: 13px 25px;
          border-radius: 12px;
          box-shadow: 0px 2.714px 16.286px 0px rgba(0, 0, 0, 0.12);
          background: #fff;

          &:hover {
            cursor: pointer;
          }

          @include commonResponsive();
        }
      }
    }
  }

  .heroSectionCardContainer {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    @media screen and (max-width: 820px) {
      aspect-ratio: 346 / 236;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
}

.timeline {
  width: 85vw;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 820px) {
    width: 100vw;
    left: -70px;
  }
}

.investors {
  h2 {
    font-size: 72px;
    font-weight: 800;
    margin-bottom: 80px;
    margin-top: 120px;

    span {
      color: #fb723d;
    }
  }

  .investorCardContainer {
    margin: 0px -70px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .investorCardUpperRow {
      display: flex;
      gap: 20px;
    }

    .investorCardLowerRow {
      display: flex;
      gap: 20px;
    }
  }
}

.news {
  h2 {
    font-size: 72px;
    font-weight: 800;
    margin-bottom: 80px;
    margin-top: 150px;

    span {
      color: #fb723d;
    }
  }

  .carouselCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -70px;
    margin-left: -70px;

    .carouselContainer {
      // width: 1560;
      width: 100%;
      // width: 1560px;
      position: relative;

      .leftButton,
      .rightButton {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: white;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        top: 50%;
        transform: translateY(-50%);
        opacity: 90%;

        &:hover {
          cursor: pointer;
        }
      }

      .leftButton {
        position: absolute;
        left: 60px;
      }

      .carouselCardsContainer {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;

        &::-webkit-scrollbar {
          display: none;
        }

        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
        display: flex;
        gap: 30px;
      }

      .rightButton {
        position: absolute;
        right: 60px;
      }
    }
  }
}

.carouselItem {
  display: flex;
  justify-content: center;
  align-items: center;
}