.pageContainer {
  margin: 0px 70px;
  height: 100vh;
}

.backgroundGrid {
  position: absolute;
  top: 0;
  z-index: -1;
}

.heroSection {
  margin-top: 130px;
  margin-bottom: 150px;
  gap: 30px;
  .heroSectionUpperPart {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    gap: 50px;
    .heroSectionLeft {
      width: 40%;
      background-color: black;
    }
    .heroSectionRight {
      width: 50%;
      p {
        color: #4e4e4e;
        font-size: 72px;
        font-weight: 700;
        line-height: 100%;
      }
      .titleBitsPilani {
        color: #fb723d;
      }
      .conquestDesc {
        margin: 20px 0px;
        color: #000;
        font-size: 18px;
        font-weight: 500;
      }
      .registerAndSignUp {
        display: flex;
        gap: 20px;
        .register {
          width: 140px;
          border: none;
          padding: 13px 25px;
          border-radius: 12px;
          background-color: #fb723d;
          color: #fff;
          text-align: center;
          box-shadow: 0px 2.714px 16.286px 0px rgba(0, 0, 0, 0.2);
          font-size: 20.357px;
          font-weight: 600;
          &:hover {
            cursor: pointer;
          }
        }
        .signUp {
          width: 140px;
          border: none;
          padding: 13px 25px;
          border-radius: 12px;
          box-shadow: 0px 2.714px 16.286px 0px rgba(0, 0, 0, 0.12);
          background: #fff;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  .heroSectionCardContainer {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
}

// .timeline {
// }

.investors {
  h2 {
    font-size: 72px;
    font-weight: 800;
    margin-bottom: 80px;
    margin-top: 120px;
    span {
      color: #fb723d;
    }
  }
  .investorCardContainer {
    margin: 0px -70px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .investorCardUpperRow {
      display: flex;
      gap: 20px;
    }
    .investorCardLowerRow {
      display: flex;
      gap: 20px;
    }
  }
}

.news {
  h2 {
    font-size: 72px;
    font-weight: 800;
    margin-bottom: 80px;
    margin-top: 150px;
    span {
      color: #fb723d;
    }
  }
  .carouselCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    margin-right: -70px;
    margin-left: -70px;
    .carouselContainer {
      background-color: black;
      width: 100%;
      overflow: hidden;
      position: relative;
      .leftButton,
      .rightButton {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: white;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        top: 50%;
        transform: translateY(-50%);
        opacity: 90%;
        &:hover{
          cursor: pointer;
        }
      }
      .leftButton {
        position: absolute;
        left: 60px;
      }
      .carouselCardsContainer {
        display: flex;
        gap: 30px;
      }
      .rightButton {
        position: absolute;
        right: 60px;
      }
    }
  }
}
