.newsCardCarousel {
  border-radius: 15px;
  min-width: 500px;
  padding: 70px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  background: url("../../../assets/images/Landing Page/landing-carousel-background.png")
    no-repeat;
  background-size: cover;

  .newsCardTitle {
    max-width: 400px;
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 24.548px;
    font-style: normal;
    font-weight: 500;
    line-height: 134%; /* 32.894px */
  }
  .newCardButton {
    display: flex;
    width: 140px;
    height: 38px;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    border-radius: 4.147px;
    border: 1.659px solid #fff;
    background: rgba(255, 255, 255, 0.18);
    &:hover{
      cursor: pointer;
    }
  }
}
