.modal {
    margin: auto;
    width: calc(1108 / 1440 * 100vw);
    height: calc(750 / 1024 * 100dvh);
    border-radius: 50px;
    border: 1.5px solid #FB723D;
    background: #FFFAF8;
    box-shadow: 0px 4px 28px 0px rgba(0, 0, 0, 0.12);
    position: relative;

    &::backdrop {
        backdrop-filter: blur(12px);
    }

    @media screen and (max-width: 820px) {
        width: calc(349 / 393 * 100vw);
        height: 90dvh;
        border-radius: 16px;
        border: 1px solid #FB723D;
        background: #FFF;
        box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.12);
    }

    .cross {
        aspect-ratio: 1 / 1;
        width: 31px;
        position: absolute;
        right: 45px;
        top: 30px;
        cursor: pointer;

        @media screen and (max-width: 820px) {
            top: 15px;
            right: 20px;

        }
    }
}