.forms {

    @media screen and (min-width: 821px) {
        height: 85dvh;
        padding: 36px 0px 0px 0px;
        overflow: hidden;
    }

    @media screen and (max-width: 820px) {
        width: 90vw;
        margin: 0 auto;
        padding-top: 0;
    }

    .pageHeading {
        color: #FB723D;
        margin-left: 20px;
        // margin: 0px 0px 72px 0px;
    }
}