.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;

    .label {
        font-size: 24px;
        font-weight: 500;
        line-height: 100%;
    }

    li {
        list-style: none;
        cursor: -webkit-grab;

        .option {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 13px 8px;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            border-bottom: 0.5px solid black;

            svg {
                aspect-ratio: 1 / 1;
                width: 20px;
            }
        }
    }
}