@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

#selected-meeting-item {
  background-color: #FFECE5;
  outline: 0.75px solid #FB723D;
}

/* OVERRIDE ANTD STYLES */
.ant-slider {
  transform: translateY(-1%);
  pointer-events: none !important;
}

.ant-slider-track {
  width: 7px !important;
  left: 1px !important;
}

.ant-select-dropdown {
  padding: 0 !important;
  width: 100% !important;
}

.ant-select-item-option {
  border-radius: 0 !important;
}

@media screen and (min-width: 1200px) {
  .ant-dropdown.ant-dropdown-placement-bottomLeft {
    min-width: 88.4px !important;
    width: 15% !important;
    top: 80px !important;
  }
}

@media (min-width: 960px) and (max-width: 1200px) {
  .ant-dropdown.ant-dropdown-placement-bottomLeft {
    min-width: 88.4px !important;
    width: 15% !important;
    top: 80px !important;
  }
}

@media (min-width: 820px) and (max-width: 960px) {
  .ant-dropdown.ant-dropdown-placement-bottomLeft {
    min-width: 88.4px !important;
    width: 15% !important;
    top: 75px !important;
  }
}

.ant-select-item-option-selected {
  background-color: #FFECE5 !important;
  border-radius: 0 !important;
  border-left: 2.486px solid #FB723D !important;
}

.ant-dropdown-menu.ant-dropdown-menu-root {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.ant-dropdown-menu-item {
  border-left: 2px solid white !important;
  font-weight: 600 !important;
}

.ant-dropdown-menu-item:hover {
  border-left: 2px solid #FB723D !important;
  color: #FB723D !important;
  background: #FFECE5 !important;
  border-radius: 0 !important;
}

.ant-divider.ant-divider-horizontal.ant-divider-with-text-center::after,
.ant-divider.ant-divider-horizontal.ant-divider-with-text-center::before {
  border-block-start: 1px dashed transparent !important;
  border-block-start-color: #A0A0A0 !important;
}

.ant-divider {
  margin: 0 !important;
}