.MeetingDetailsContainer {
  .MeetingDetailsHeader {
    color: #111213;
    font-size: 24px;
    font-weight: 700;
  }
  .MeetingStatus {
    color: #138cfd;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
