.Button {
  padding: 12px 24px 12px 24px;
  border-radius: 8px;
  color: #111213;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  height: 40px;
  border: 0px solid #fb723d;
  line-height: 95%;
  &:hover {
    cursor: pointer;
    border: 1px solid #fb723d;
    padding: 11px 23px;
  }
}

.active {
  border: 1px solid #fb723d;
  background: #ffece5;
  padding: 11px 23px;
  color: #fb723d;
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 17px */
}
