@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

.container {
    width: 100vw;
    min-height: clamp(25rem, calc((1024 - 55 - 55) / 1024 * 100dvh), 1000rem);
    margin: calc(40 / 1024 * 100dvh) 0px 20px 0px;
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    position: relative;

    @media screen and (max-height: 545px) {
        min-height: clamp(25rem, 120dvh, 1000rem);
    }

    @media screen and (max-height: 450px) {
        min-height: clamp(25rem, 150dvh, 1000rem);
    }

    // @media screen and (max-height: 710px),
    // screen and (max-width: 1075px) {
    //     font-size: 12px;
    // }

    // @media screen and (max-height: 530px) {
    //     font-size: 10px;
    // }

    .logo {
        aspect-ratio: 377 / 50 !important;
        // width: clamp(12.5rem, 50vw, 23.563rem);
        height: clamp(1.6578rem, 8%, 3.125rem);
        display: inline;
        object-fit: contain;
        position: absolute;
        top: 0;
        // margin-top: clamp(1rem, 5dvh, 2rem);
    }

    .loginContainer {
        width: clamp(20rem, 80vw, 62rem);
        height: clamp(1.6578rem, 90%, 45rem);
        position: absolute;
        bottom: 0;
        filter: drop-shadow(0px 6px 10.5px rgba(0, 0, 0, 0.15));
        font-family: "Montserrat";
        display: flex;

        // @media screen and (max-width: 800px) {
        //     width: clamp(20rem, 95vw, 78.875rem);
        // }

        .orangeSection {
            width: calc(261 / 1144 * 100%);
            background-color: #FB723D;
            border-radius: 63px 0px 0px 63px;
            color: #FFFFFF;
            display: inline-flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;

            .logoContainer {
                aspect-ratio: 1 / 1;
                width: 95%;
            }
        }

        .whiteSection {
            width: calc(883 / 1144 * 100%);
            background-color: #FEFAF9;
            border-radius: 0px 63px 63px 0px;
            display: inline-flex;
            // height: 100%;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            h1 {
                font-size: 2.5rem;
                width: 90%;
                text-align: center;
                // margin-top: 6%;
                margin-top: 4%;
                font-weight: 600;

                @media screen and (max-width: 1075px) {
                    font-size: 2rem;
                }
            }

            button {
                margin-bottom: 4%;
            }

            p {
                width: 80%;
                font-size: 1.405rem;
                font-weight: 400;
                text-align: center;
                color: #606060;

                @media screen and (max-width: 765px),
                screen and (max-height: 600px) {
                    font-size: 1.125rem;
                }
            }

            .login {
                width: 60%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1rem;

                .submitBtn {
                    aspect-ratio: 354 / 55;
                    border: none;
                    border-radius: 0.625rem;
                    background: #FB723D;
                    display: flex;
                    width: 30%;
                    padding: 0.75rem 1.5rem;
                    justify-content: center;
                    align-items: center;
                    gap: 0.625rem;
                    color: white;
                    font-weight: 600;
                    cursor: pointer;
                }

                @media screen and (max-width: 765px),
                screen and (max-height: 600px) {
                    font-size: 0.75rem;
                    gap: 0.5rem;
                }
            }

            .dividerContainer {
                width: 80%;
            }
        }
    }

    .countdownContainer {
        font-size: 1.75rem;
        font-family: "Montserrat";
        font-weight: 400;
        margin-bottom: clamp(1rem, 5dvh, 2rem);

        .countdown {
            display: inline;
            color: #FB723D;
        }
    }

}