@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

.superCont {
    width: 100vw;
    height: 100dvh;
}

.container {
    scale: 0.75;
    top: -125px;
    width: 100vw;
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    position: relative;

    .backBtn {
        position: absolute;
        left: 80px;
        top: 47px;
        width: 3rem;

        @media screen and (max-width: 640px) {
            margin-top: 0.25rem;
            left: calc(20 / 1024 * 100dvh);
        }
    }

    .logo {
        aspect-ratio: 377 / 50 !important;
        height: 50px;
        margin-top: 55px;
        display: inline;
        object-fit: contain;
        position: absolute;
        top: 0;

        @media screen and (max-width: 640px) {
            width: 60%;
        }
    }

    .loginContainer {
        width: 90vw;
        position: relative;
        padding-bottom: 50px;
        top: calc(55px + 50px + 46px);
        filter: drop-shadow(0px 6px 10.5px rgba(0, 0, 0, 0.15));
        font-family: "Montserrat";
        display: flex;

        @media screen and (max-width: 670px) {
            display: grid;
            grid-template-rows: 1fr calc(556 / 89 * 1fr);
        }

        .orangeSection {
            width: calc(261 / 1144 * 100%);
            background-color: #FB723D;
            border-radius: 63px 0px 0px 63px;
            color: #FFFFFF;
            display: inline-flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            overflow: hidden;

            .logoContainer {
                aspect-ratio: 1 / 1;

                @media screen and (min-width: 671px) {
                    width: 95%;
                }

                @media screen and (max-width: 670px) {
                    height: 130%;
                    position: absolute;
                    margin-right: 27px;

                    svg {
                        height: 100%;
                    }
                }
            }

            @media screen and (max-width: 670px) {
                width: 100%;
                height: 100%;
                position: relative;
                border-radius: 25px 25px 0px 0px;
                flex-direction: row;
            }
        }

        .whiteSection {
            width: calc(883 / 1144 * 100%);
            background-color: #FEFAF9;
            border-radius: 0px 63px 63px 0px;
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            @media screen and (max-width: 670px) {
                width: 100%;
                box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
                border-radius: 0px 0px 25px 25px;
            }

            h1 {
                font-size: 2.5rem;
                width: 90%;
                text-align: center;
                margin-top: 69px;
                font-weight: 600;

                @media screen and (max-width: 1075px) {
                    font-size: 2rem;
                }

                @media screen and (max-width: 670px) {
                    margin-top: 42px;
                    font-size: 2rem;
                }
            }

            button {
                margin-bottom: 55px;
            }

            p {
                width: 80%;
                font-size: 1.405rem;
                font-weight: 400;
                text-align: center;
                color: #606060;
                margin-top: 59px;

                @media screen and (max-width: 935px) {
                    font-size: 1.125rem;
                }

                @media screen and (max-width: 670px) {
                    margin-top: 29px;
                    font-size: 0.75rem;
                }
            }

            .login {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 52px;
                gap: 0.75rem;

                .submitBtn {
                    aspect-ratio: 354 / 55;
                    border: none;
                    border-radius: 0.625rem;
                    background: #FB723D;
                    display: flex;
                    padding: 0.75rem 1.5rem;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-weight: 600;
                    margin-bottom: 0;
                    cursor: pointer;
                    font-size: 1.28rem;
                    width: clamp(11.3rem, 60%, 22rem);
                    margin-top: 34px;

                    @media screen and (max-width: 935px) {
                        font-size: 1rem;
                    }

                    @media screen and (max-width: 580px) {
                        font-size: 0.85rem;
                    }

                    @media screen and (max-width: 670px) {
                        aspect-ratio: 215 / 41;
                        margin-top: 1rem;
                        font-size: 0.875rem;
                        width: clamp(11.3rem, 60%, 13.438rem);
                    }
                }

                @media screen and (max-width: 935px) {
                    gap: 0.5rem;
                }

                @media screen and (max-width: 670px) {
                    margin-top: 2rem;
                }
            }

            .dividerContainer {
                width: 80%;
                margin: 31px 0;

                @media screen and (max-width: 670px) {
                    font-size: 0.75rem;

                }
            }
        }
    }

    .countdownContainer {
        font-size: 1.75rem;
        font-family: "Montserrat";
        font-weight: 400;
        margin-bottom: clamp(1rem, 5dvh, 2rem);

        .countdown {
            display: inline;
            color: #FB723D;
        }
    }

}