.profileButton {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    a {
        position: relative;
        cursor: pointer;
        &::after {
            content: "";
            width: 0px;
            height: 2px;
            background: #fb723d;
            position: absolute;
            left: 0;
            bottom: -2px;
            transition: width 100ms linear;
        }
        &:hover::after{
            width: 50%;
        }
    }
}

.active{
    a{
        &::after {
            content: "";
            width: 44px;
            height: 2px;
            background: #fb723d;
            position: absolute;
            left: 0;
            bottom: -2px;
        }
    }
}